<!DOCTYPE html>
<html>
  <head>
    <title>Welcome <%= @user.first_name %> <%= @user.last_name %></title>
  </head>
  <body>
    <h1>Welcome to railse2solution.com, <%= @user.first_name %>!</h1>
    <p>Enjoy your life here.</p>
  </body>
</html>